@use '../media_query' as *;

.c-feature {
  &__item {
    margin-top: calc(var(--spacing-large) * 1.5);
    background-color: var(--color-white);
    border: 1px solid var(--color-base);
    @include pc() {
      padding: var(--spacing-large);
    }
    @include sp() {
      padding: var(--spacing);
    }
  }
  &__contents {
    @include pc() {
      display: flex;
      margin-top: calc(var(--spacing) * 1.5);
    }
    @include sp() {
      margin-top: var(--spacing);
    }
  }
  &__image {
    @include pc() {
      margin: 0 var(--spacing-large) 0 0;
      flex: 0 0 30%;
    }
    @include sp() {
      margin: 0;
    }
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }
  &__text {
    @include pc() {
      margin: var(--spacing-small) 0 var(--spacing);
    }
    @include sp() {
      font-size: var(--font-size-small);
      margin: var(--spacing) 0;
    }
  }
}
