@use "../media_query" as *;

%heading {
  font-weight: bold;
  line-height: 1.3;
}
.c-heading--lv1 {
  @extend %heading;
  font-size: var(--font-size-h1);
  @include sp () {
    font-size: var(--font-size-h1-sp);
  }
}
.c-heading--lv2 {
  @extend %heading;
  padding-bottom: var(--spacing-small);
  border-bottom: 1px solid var(--color-base);
  font-size: var(--font-size-h2);
  @include sp () {
    font-size: var(--font-size-h2-sp);
  }
  span {
    margin-left: var(--spacing);
  }
  &:not(:first-child) {
    @include pc() {
      margin-top: var(--spacing-vertical-pc);
    }
    @include sp() {
      margin-top: var(--spacing-vertical-sp);
    }
  }
}
.c-heading--lv3 {
  @extend %heading;
  font-size: var(--font-size-h3);
  position: relative;
  margin-bottom: 1.5em;
  @include sp () {
    font-size: var(--font-size-h3-sp);
  }
  &:before {
      content: "";
      position: absolute;
      bottom: -12px;
      height: 3px;
      background-color: var(--color-primary);
      width: 30px;
  }
  &:not(:first-child) {
    @include pc() {
      margin-top: var(--spacing-large);
    }
    @include sp() {
      margin-top: var(--spacing);
    }
  }
}
.c-heading--lv3-b {
  @extend %heading;
  font-size: var(--font-size-h3);
  margin-bottom: var(--spacing);
  display: flex;
  align-items: center;
  justify-content: center;
  &.-memberMenu {
    @include pc() {
      display: none;
    }
  }
  &::before, &::after {
    content: "";
    flex-grow:1;
    border-top: 1px solid var(--color-base);
  }
  &::before {
    margin-right: 0.6em;
  }
  &::after {
    margin-left: 0.6em;
  }
  @include sp () {
    font-size: var(--font-size-h3-sp);
  }
  &:not(:first-child) {
    @include pc() {
      margin-top: var(--spacing-large);
    }
    @include sp() {
      margin-top: var(--spacing);
    }
  }
}
.c-heading--lv4 {
  @extend %heading;
  font-size: var(--font-size-h3);
  display: inline;
  background: linear-gradient(transparent 60%, #e4d5c7 60%);
  @include sp () {
    font-size: var(--font-size-h3-sp);
  }
}
.c-heading--lv5 {
  @extend %heading;
  font-size: var(--font-size-h4);
  @include sp () {
    font-size: var(--font-size-h4-sp);
  }
  &:not(:first-child) {
    margin-top: var(--spacing);
  }
}
.c-heading--sub {
  margin: var(--spacing-small) 0 0 0;
  color: var(--color-primary);
  font-size: var(--font-size-small);
  font-family: var(--font-en);
  letter-spacing: .05em;
  .c-section--dark-block & {
    color: #f9f001;
  }
}

.c-heading--box {
  font-weight: bold;
  @include pc () {
    font-size: var(--font-size-h2);
  }
  @include sp () {
    font-size: var(--font-size-h2-sp);
  }
  &.-en {
    font-family: var(--font-en);
    letter-spacing: .05em;
    @include pc () {
      font-size: var(--font-size-h1);
    }
    @include sp () {
      font-size: var(--font-size-h1-sp);
    }
  }
  &Sub {
    font-weight: bold;
    @include pc () {
      margin: 0 0 0 var(--spacing);
    }
    @include sp () {
      font-size: .8em;
      margin: 0;
    }
  }
  &__outer {
    @include pc () {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: var(--spacing-large);
    }
    @include sp () {
      position: relative;
      text-align: center;
      margin-bottom: var(--spacing);
    }
    &::before, &::after {
      background-color: var(--color-base);
      border-radius: 5px;
      content: "";
      height: 3px;
      width: 34px;
      @include sp () {
        position: absolute;
        top: 20px;
      }
    }
    &::before {
      margin-right: 10px;
      transform: rotate(60deg);
      @include sp () {
        left: 15px;
      }
    }
    &::after {
      margin-left: 10px;
      transform: rotate(-60deg);
      @include sp () {
        right: 15px;
      }
    }
    &.-oneLine {
      @include sp () {
        &::before, &::after {
          width: 26px;
          top: 12px;
        }
      }
    }
  }
}

.c-heading__wrapper {
  @include pc () {
    display: flex;
    align-items: center;
    padding-bottom: var(--spacing-small);
    border-bottom: 1px solid var(--color-base);
    margin-bottom: 50px;
  }
  @include sp () {
    margin-bottom: 25px;
  }
  .c-heading--lv2 {
    border-bottom: none;
    padding-bottom: 0;
    @include sp () {
      padding-bottom: var(--spacing-small);
      margin-bottom: var(--spacing-small);
      border-bottom: 1px solid var(--color-base);
    }
  }
}