@use "../media_query" as *;

.c-hero {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  @include pc() {
    height: 70vh;
    margin-bottom: calc( var(--spacing-vertical-pc) / 2);
  }
  @include sp() {
    height: 50vh;
    margin-bottom: calc( var(--spacing-vertical-sp) / 2);
  }
  &__body {
    text-align: center;
    z-index: 100;
      @include sp() {
        bottom: calc( var(--spacing-vertical-sp) * -1 );
      }
    &__lead {
      margin: 0;
      font-size: 5vw;
      font-family: 'Secular One', sans-serif;
      line-height: 1.3;
      @include sp() {
        font-size: 10vw;
      }
    }
    &__text {
      margin: var(--spacing) 0;
      padding: 0 var(--spacing);
      font-weight: bold;
      letter-spacing: .05em;
      @include pc() {
        font-size: var(--font-size-h4);
      }
    }
  }
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 130%;
    height: 96%;
    background: #b39d8b;
    opacity: 0.3;
    z-index: 0;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) translateY(18px) rotate(2deg);
  }
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 130%;
    height: 95%;
    background: linear-gradient(to right, rgba(50, 90, 130, 0.7), rgba(190, 210, 220, 0.5)), url(/images/top-hero.jpg) center no-repeat;
    z-index: 0;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) rotate(0deg);
  }
}