@use '../media_query' as *;
@use 'badge' as *;

.c-media {
  display: flex;
  background: #fff;
  border: 1px solid #666;
  padding: var(--spacing-small);
  box-shadow: 0 10px 8px -6px #bebebe;
  position: relative;
  transition: var(--transition-seconds);
  @include sp {
    flex-direction: column;
  }
  &:hover {
    opacity: var(--hover-opacity);
  }
  &__image {
    flex: 0 0 40%;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    @include pc {
      margin-right: var(--spacing);
    }
    @include sp {
      margin-bottom: var(--spacing);
    }
    img {
      position: relative !important;
      width: 100%;
      transition: var(--transition-seconds) ease-in;
      .c-media:hover & {
        transform: scale(1.1);
      }
    }
    &__badge {
      position: absolute;
      top: 5px;
      left: -7px;
      z-index: 1;
      width: 25px;
      height: 25px;
      color: var(--color-white);
      background: var(--color-primary);
      text-align: center;
      &::before {
        position: absolute;
        content: '';
        top: 100%;
        left: 0;
        border: none;
        border-bottom: solid 7px transparent;
        border-right: solid 6px #ab5f21;
      }
    }
  }
  &__date {
    font-size: var(--font-size-x-small);
    margin: 0;
    padding: 0 var(--spacing-small);
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
  }
  &__heading {
    margin: var(--spacing-small) 0 var(--spacing);
    line-height: 1.3;
    font-weight: bold;
    transition: var(--transition-seconds) color;
    @include pc {
      font-size: var(--font-size-medium);
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
    @include sp {
      font-size: var(--font-size-small);
    }
    .c-media:hover & {
      color: var(--color-primary);
    }
  }
  &__text {
    margin: 0;
    font-size: var(--font-size-small);
    @include pc {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--spacing);
  }
  &__category {
    font-size: var(--font-size-x-small);
    margin: 0;
    background: var(--color-gray);
    color: #fff;
    line-height: 1;
    padding: var(--spacing-small);
  }
  &__area {
    margin: 0;
    font-size: var(--font-size-x-small);
    display: flex;
    align-items: center;
  }
  &-list {
    @include pc {
      display: flex;
      flex-wrap: wrap;
    }
    &--col-3 {
      .c-media__item {
        @include pc {
          flex: 0 0 calc((100% - (var(--spacing) * 2)) / 3);
          &:not(:nth-of-type(3n + 1)) {
            margin-left: var(--spacing);
          }
          &:nth-child(n + 4) {
            margin-top: var(--spacing);
          }
        }
        @include sp {
          &:not(:first-child) {
            margin-top: calc(var(--spacing) * 1.5);
          }
        }
      }
    }
    &--col-2 {
      @include pc {
        justify-content: space-between;
      }
      .c-media__item {
        &:nth-child(n + 3) {
          margin-top: var(--spacing);
        }
        @include pc {
          flex: 0 0 calc((100% - var(--spacing)) / 2);
          &:nth-child(n + 3) {
            margin-top: var(--spacing);
          }
        }
        @include sp {
          &:not(:first-child) {
            margin-top: calc(var(--spacing) * 1.5);
          }
        }
      }
    }
  }
}
