.c-tag {
  display: flex;
  .c-card__item & {
    align-items: flex-end;
  }
  .c-article & {
    align-items: flex-start;
  }
  &__icon {
    flex: 0 0 auto;
    .c-article & {
      width: 22px;
      height: 22px;
      margin: calc(var(--spacing-small) / 2) var(--spacing-small) 0 0;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.75em;
  }
  &__link {
    background-color: var(--color-white);
    padding: var(--spacing-small) var(--spacing);
    border: 1px solid var(--color-base);
    border-radius: 20px;
    display: block;
    margin: 0 var(--spacing-small) 0.8em 0;
    transition: var(--transition-seconds);
    &:hover {
      color: var(--color-white);
      background-color: var(--color-base);
    }
  }

  &-card {
    &__list {
      display: flex;
      padding-left: 0.25em;
      .c-card & {
        font-size: 0.75em;
      }
    }
    &__item {
      margin-right: var(--spacing-small);
    }
  }
}
