/********************************************
		Common
********************************************/
*,
*:after,
*:before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

dd,
dl,
dt,
label,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  font-family: var(--font-family);
  text-decoration: none;
  color: inherit;

  &:hover {
    cursor: pointer;
  }
}

img {
  vertical-align: top;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--color-base);
  font-size: var(--font-size-base);
  font-family: var(--font-family);
  background-color: var(--color-lightest-gray);
}

button,
input,
optgroup,
select,
textarea {
  color: var(--color-base);
  font-size: var(--font-size-base);
  font-family: var(--font-family);
}
::placeholder {
  color: #aaa;
}

button,
input[type='button'],
input[type='submit'] {
  border: none;
}

iframe {
  vertical-align: top;
}

table {
  border: 1px solid var(--color-border);
  border-collapse: collapse;
  th,
  td {
    padding: var(--spacing);
    border: 1px solid var(--color-border);
    background-color: var(--color-white);
  }
  th {
    background-color: var(--color-light-gray);
  }
}
